@use '@styles/mixins' as *;
.wapper {
    padding-top: 6rem;
    color: var(--text-color);
}
.hashtag {
    text-align: center;
}
.content {
    padding: 2rem 0;
}
.title {
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem 0;

    font-size: 2.8rem;

    svg {
        margin-right: 0.5rem;
    }
}

.content-item {
    p {
        font-size: var(--font-size-text);
    }
}

.hightlight-text {
    font-weight: bold;
    color: var(--bg-primary-button);
}

.education {
    div {
        padding-left: 1rem;
        border-left: 1.4rem solid var(--bg-primary-button);

        p:first-child {
            font-weight: bold;
        }

        span {
            font-style: italic;
        }
    }
}

.experience {
    @include flexBetween;
    gap: 10px;
    flex-wrap: wrap;

    .experience-left {
        width: 65%;

        ul {
            padding-top: 2rem;
            li {
                padding: 1rem 0;
                border-bottom: 1px solid var(--bg-primary-button);
            }
        }
    }

    .experience-right {
        @include flexBetween;
        width: 33%;
        gap: 10px;
        flex-wrap: wrap;
        .experience-right-item {
            @include flex;
            width: 48%;
            height: 25rem;
            border-radius: 15px;
            border: 3px solid var(--bg-primary-button);
            &:hover {
                border-width: 5px;
                cursor: pointer;
            }

            div {
                width: 100%;
                text-align: center;

                span {
                    font-size: 3rem;
                    font-weight: bold;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.responsibility {
    @include flex;
    gap: 1rem;

    button {
        width: 24%;
        ~ button {
            margin-left: 0 !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .wapper {
        margin: 0 1rem;
    }

    .experience-right-item {
        width: 100% !important;
        height: 14rem !important;
    }
}

@media screen and (max-width: 768px) {
    .experience-left {
        width: 100% !important;
    }
    .experience-right {
        width: 100% !important;
    }
    .experience-right-item {
        width: 48% !important;
        height: 10rem !important;
    }

    .responsibility {
        flex-wrap: wrap;
        justify-content: space-around;

        button {
            width: 48%;
        }
    }
}
