@use '@styles/mixins' as *;
.wapper {
    color: var(--text-color);
    border-top: 1px solid var(--text-color);
    padding: 2rem 0;
}

.profile {
    @include flexBetween;

    flex-wrap: wrap;
    padding: 1rem 0;
}

.profile-item {
    width: calc(100% / 3);
}

.subtitle {
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    svg {
        margin-right: 0.4rem;
    }

    span {
        margin-left: 0.4rem;
        font-weight: bold;
        color: var(--bg-primary-button);
    }
}

@media screen and (max-width: 1200px) {
    .wapper {
        margin: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    .profile-item {
        width: 100%;
        margin-top: 1rem;
    }

    .subtitle {
        justify-content: center;
    }
}
