@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexBetween {
    @include flex;
    justify-content: space-between;
}

@mixin flexCenter {
    @include flex;
    justify-content: center;
}

@mixin flexEnd {
    @include flex;
    justify-content: flex-end;
}

@mixin flexStart {
    @include flex;
    justify-content: flex-start;
}

@mixin wapper {
    padding-top: var(--padding-top-section);
    color: var(--text-color);
}
