@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --text-color: #333;
    --background-color: #888;
    --bg-primary-button: #2563eb;
    --bg-hover-primary: #3b82f6;
    --color-outline-button: #2563eb;
    --hover-outline-button: #eff6ff;
    --font-size-text: 2rem;
    --bg-gradient-frist: rgba(51, 50, 50, 0.05);
    --bg-gradient-second: rgba(44, 42, 42, 0.05);
}

html {
    // tương đương 1rem = 10px;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-button {
    display: none;
}

/* Scrollbar mảnh */
::-webkit-scrollbar {
    width: 10px; /* mảnh hơn (chiều rộng dọc) */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    /* border làm thumb trông nhỏ hơn nữa */
    border: 1px solid #f1f1f1;
}

/* Hover thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    //tối ưu render text
    text-rendering: optimizeSpeed;
    background-color: var(--background-color);
    background-image: linear-gradient(var(--bg-gradient-frist) 1px, transparent 1px),
        linear-gradient(90deg, var(--bg-gradient-second) 1px, transparent 1px);
    background-size: 80px 80px;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.no-scroll {
    overflow: hidden;
}

.dark {
    --background-color: #121212;
    --text-color: #eaeaea;
    --bg-primary-button: #3b82f6;
    --bg-hover-primary: #60a5fa;
    --color-outline-button: #3b82f6;
    --hover-outline-button: rgba(59, 130, 246, 0.1);
    --bg-gradient-frist: rgba(255, 255, 255, 0.05);
    --bg-gradient-second: rgba(255, 255, 255, 0.05);
}

.light {
    --background-color: #ffffff;
    --text-color: #212529;
    --bg-primary-button: #2563eb;
    --bg-hover-primary: #3b82f6;
    --color-outline-button: #2563eb;
    --hover-outline-button: #eff6ff;
    --bg-gradient-frist: rgba(51, 50, 50, 0.05);
    --bg-gradient-second: rgba(44, 42, 42, 0.05);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.active-nav {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    html {
        // tương đương 1 rem = 8px
        font-size: 50%;
    }
}
